
body {
  background-image: url('/images/spacebg.jpg');
  background-repeat: repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
  padding: 20px;
}

.nav {
  background-color: #40a4d5;
  color: white;
  border-radius: 5px;
  margin: 200;
  border: 20px;
}

.edit_form {
  background-color: #b06cae;
  border-radius: 10px;
}

.flight_info {
  display: flex;
  flex-direction: column;
  background-color: #cdb72d;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

h1 {
  text-align: center;
  color: yellow;
  text-shadow: black 4px 5px;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 20px;
}

h2 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  margin: 20px;
}

h5 {
  padding: 0px 10px 0px 10px;
}

nav a {
  color: black;
  text-align: center;
  /* text-shadow: black 2px 3px; */
}

form {
  margin: 5px;
}

input {
  margin: 10px;
}

.flight_info {
  text-shadow: black 2px 3px;
}

.signup {

}
