
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: black 4px 5px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

nav a {
  color: black;
  text-align: center;
  /* text-shadow: black 2px 3px; */
}

form {
  margin: 5px;
}

input {
  margin: 10px;
}

.flight_info {
  text-shadow: black 2px 3px;
}

.signup {

}
