<div class='create_flight'>
<form ng-submit="ctrl.createFlight()">
  <h2>Admin Panel - Create New Flight</h2>
  <input
    type="text"
    ng-model="ctrl.newFlight.vehicleClass"
    placeholder="Vehicle Class"
  />
  <input type="text" ng-model="ctrl.newFlight.carrier" placeholder="Carrier" />
  <input
    type="text"
    ng-model="ctrl.newFlight.launchSite"
    placeholder="Launch Site"
  />
  <input
    type="text"
    ng-model="ctrl.newFlight.launchWindow"
    placeholder="Launch Window"
  />
  <input
    type="text"
    ng-model="ctrl.newFlight.destination"
    placeholder="Destination"
  />
  <input type="number" ng-model="ctrl.newFlight.price" placeholder="Price" />
  <input type="submit" value="Submit" class="btn btn-primary" />
</form>
</div>
<!-- End Create Flight Form -->
