<form ng-submit="ctrl.editFlight(flight)">
  <h2>Edit Flight</h2>
  <input
    type="text"
    ng-model="ctrl.updateFlight.vehicleClass"
    placeholder="Vehicle Class"
  />
  <input
    type="text"
    ng-model="ctrl.updateFlight.carrier"
    placeholder="Carrier"
  />
  <input
    type="text"
    ng-model="ctrl.updateFlight.launchSite"
    placeholder="Launch Site"
  />
  <input
    type="text"
    ng-model="ctrl.updateFlight.launchWindow"
    placeholder="Launch Window"
  />
  <input
    type="text"
    ng-model="ctrl.updateFlight.destination"
    placeholder="Destination"
  />
  <input type="number" ng-model="ctrl.updateFlight.price" placeholder="Price" />
  <input type="submit" value="Submit" class="btn btn-primary" />
</form>
