<ul class="nav justify-content-center">
  <!-- Flights -->
  <!-- Authentication -->
  <!-- Sign Up -->
  <div class='nav' ng-if="ctrl.loggedInUser === false">
    <li>
      <a href="#" ng-click="ctrl.toggleShowSignupForm()" class="nav-link">Sign Up</a>
    </li>
    <!-- Sign Up Form -->
    <form ng-submit="ctrl.signup()" ng-show="ctrl.showSignupForm" class="signup">
      Username: <input type="text" ng-model="ctrl.signupUsername" /><br />
      Password:
      <input type="password" ng-model="ctrl.signupPassword" /><br />
      <input type="submit" value="Sign Up" class="btn btn-primary" />
    </form>
  </div>
  <!-- Log In -->
  <div ng-if="ctrl.loggedInUser === false">
    <li>
      <a href="#" ng-click="ctrl.toggleShowLoginForm()" class="nav-link">Log In</a>
    </li>
    <!-- Login Form -->
    <form ng-submit="ctrl.login()" ng-show="ctrl.showLoginForm">
      Username: <input type="text" ng-model="ctrl.loginUsername" /><br />
      Password:
      <input type="password" ng-model="ctrl.loginPassword" /><br />
      <input type="submit" value="Log in" class="btn btn-primary" />
    </form>
  </div>
  <!-- Log Out Form -->
  <div ng-if="ctrl.loggedInUser !== false">
    <li>
      <a href="#" ng-click="ctrl.logout()" class="btn btn-danger logout_button nav-link">
        Log Out
      </a>
    </li>
  </div>
  <!-- End of Authentication -->
</ul>
