@charset "UTF-8";

/* ----------------------------------------------------------
  Next issues
---------------------------------------------------------- */

/* Post
-------------------------- */

.single-post #tv-list-issues {
    background-color: #fff;
}

/* Loop
-------------------------- */

#tv-list-issues .slider-tv-issues .mini-loop-issue a .hover .content-loop-issue span.title {
    max-height: 2.6em;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.3;
}
